@model CRUDInventoryQuick.Models.ASPNETROLES

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles</h1><br />

<div>
    <dl class="row">
        <dt class = "col-sm-1">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id"  class="btn btn-sm btn-success">Editar</a> 
    <a asp-action="Index"   class="btn btn-sm btn-primary">Volver a la lista</a>
</div>
