@model CRUDInventoryQuick.Models.CATEGORIum

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3>¿Estás seguro que deseas eliminar esta categoria?</h3><br />
<div>
    <dl class="row">
        <dt class = "col-sm-1">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-11">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-1">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CategoriaId" />
        <input type="submit" value="Eliminar" class="btn btn-sm btn-danger" /> 
        <a asp-action="Index" class="btn btn-sm btn-primary">Volver a la lista</a>
    </form>
</div>
