@model CRUDInventoryQuick.Models.PRECIO

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar</h1>
<br />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PrecioId" />
            <div class="form-group">
                <label>Fecha de Ingreso</label>
                <input asp-for="FechaIngreso" class="form-control" />
                <span asp-validation-for="FechaIngreso" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label >Precio Compra</label>
                <input type="number" asp-for="PrecioCompra" class="form-control" />
                <span asp-validation-for="PrecioCompra" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="Descuento" class="control-label"></label>
                <input type="number" asp-for="Descuento" class="form-control" />
                <span asp-validation-for="Descuento" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label>Precio Venta Inicial</label>
                <input type="number" asp-for="PrecioVentaInicial" class="form-control" />
                <span asp-validation-for="PrecioVentaInicial" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label>Producto</label>
                <input type="number" asp-for="PrecioVentaFinal" class="form-control" />
                <span asp-validation-for="PrecioVentaFinal" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label>Producto</label>
                <select asp-for="PRODUCTO_ProductoId" class="form-control" asp-items="ViewBag.productos"></select>
                <span asp-validation-for="PRODUCTO_ProductoId" class="text-danger"></span>
            </div><br>
            <div class="form-group">
                <input type="submit" value="Guardar"  class="btn btn-sm btn-success" />
                <a asp-action="Index" class="btn btn-sm btn-primary" >Volver a la lista</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
